<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .swiper {
  width: 600px;
  height: 300px;
}
    </style>
</head>
<body>
    <!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiXZobw2GiAZa2WHpoXfP4Vm5hqk8FQagFGw&usqp=CAU" class="swiper-slide">
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcMWn5LSiVY0xR0ZzCno0POLn2t7u0zyG2Ew&usqp=CAU" class="swiper-slide">
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6uqdCTard__CMmMpnXuvHR-jzd8vUYzhyRw&usqp=CAU" class="swiper-slide">
      ...
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  
    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>
</body>
<script src="swiper.js"></script>
</html>