@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Pacifico&display=swap');
:root {
  
  --first-color: hsl(176, 88% , 28%);
  --second-color: hsl(129, 44% , 94%);
  --third-color: hsl(34, 94% , 87%);
  --forth-color: hsl(0 , 0% , 13%);
  --fifth-color: hsl(154 , 13% , 32%);
  --sixth-color: hsl(60, 1% , 56%);
  --Seventh-color: hsl(0, 0% , 100%);
  --Eight-color: hsl(0, 0% , 93%);
  --Ningth-color: hsl(129, 36% , 85%);
  --tenth-color: hsl(113, 15% , 90%);
}
*{
  margin: 0;
  padding: 0;
}
.header {
  background-color: var(--Ningth-color);
  height: 4rem;
  border-bottom: 3px solid green;
  }

  .div {
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: space-between;
  }

  .div .first span{
    padding: 12px;
  }
  .div .first , .div .second  {
    margin: 20px;
  }
  .div .third {
    color: red;
  }
  .div .third {
    align-items: center;
    margin-top: 10px;
    
  }
  .div .third button   {
    padding: 10px 30px;
    background-color: var(--fifth-color);
    color: white;
    border-radius: 12px;
    
  }
  input {
    margin-top: 1px;
    padding: 10px 30px;
    color: white;
    border-radius: 12px;
    background-color: gray;
  }
  .interface {
    display: flex;
    margin-bottom: 100px;
  }
  .listo a {
   text-decoration: none;
  }
  .interface h1 {
    font-family: 'Alkatra', cursive;
    font-family: 'Pacifico', cursive;
    font-size: 5rem;
  }
  .interface ul {
    list-style-type: none;
    display: flex;
    padding: 10px 12px;
    gap: 40px;
    margin: 50px;
    font-weight: bold;
  }

.sides {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.left-side span {
  font-size: 25px;
}
.left-side h1 {
  margin: 20px auto;
  font-size: 40px;
  font-weight: 900;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
.left-side h2 {
  font-size: 70px;
  color: var(--first-color);
  margin: 20px auto;
}
.left-side button {
  margin-top: 40px;
  padding: 10px 30px;
  background-color: var(--fifth-color);
  color: white;
  border-radius: 5px;
}
.left {
  display: flex;
  justify-content: space-between;
}
.head-container {
  width: 80%;
  margin: auto;
}
.right{
  margin-top: 40px;
  display: flex;
}
.search-button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  position: relative;

}
.search-b {
  margin-right: 20px;
  height: 40px;
  font-size: 20px;
  padding-left: 20px;
  background-color: white;
}
.Menu {
  display: none;
}
.flex-container {
  width: 80%;
  margin: auto;
  
}
.flex-container h1 {
  margin: 80px;
}
.flex-container span {
  color: red;
  font-weight: bolder;
}
.items {
  display: flex;
  
}
.item-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  transition: opacity 0.3s ease-in-out;
}
.item-container.slide-left {
  transform: translateX(-20%);
  transition: transform 0.3s ease-in-out;
}

.item {
 
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
   
  margin-right: 10px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 254, 254);
  width: 15%; 
 height: 230px;

 color: black;
 font-size: 20px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.item-container image {
  color: red;
}

.item-image {
  width: 100%;
  height: 200px;
  border-radius: 15px;
 

  margin-bottom: 10px;
}

.item-name {
  font-weight: bold;
}
.ohayo {
  display: flex;
  justify-content: space-between;

}
.ohayo  span {
  font-size: 40px;
}
.btn-1 , .btn-2 {
  margin: 80px 10px;
  border-radius: 50%;
  font-size: 20px;
  background-color: rgb(228, 195, 106);

}
.Grid-list {
  width: 80%;
  margin: auto;
}
.item-grid-container{
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(4, 1fr);

 
}

.button {
  margin: 40px;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  
}

.item-grid-container img {
  height: 200px;
  width: 300px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 254, 254);
  
}
.item-3 {
 
  padding: 10px;
  margin: 10px;
 
  flex-direction: column;
 border-radius: 12px;
 display: flex;
  
}
.item-3 h1,span {
font-size: 20px;
padding: 15px;

}
#ok {
    color: #b3a8a8;
  
}
.item-grid-container img {
  border-radius: 10px;
}
.item-3 span {
  text-decoration: line-through;
}
.offers {
margin: auto;
width: 80%;
display: flex;
gap: 40px;
margin-top: 80px;
margin-bottom: 80px;
}
.offers img {
 width: 100%;
  height: 500px;
}


.deal {
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
font-size: 40px;
display: flex;
flex-direction: column;
}
.deal h2 {
  z-index: 1;
  color: var(--first-color);
  margin-bottom: 10px;
}

.deal h3 {
  margin-bottom: 10px;
  font-size: 18px;
  z-index: 1;
}

.deal p {
  margin-bottom: 10px;
  font-size: 14px;
  z-index: 1;
}

.deal button {
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  background-color: #ffbf00;
  transition: all 0.3s ease;
  color: #fff;
  font-size: 16px;
  
  z-index: 1;
  
}

.deal button:hover {
  background-color: #f0a500;
}
.img-container {
  position: relative;
  flex: 1;
}

.img-text {
  position: absolute;
  top: 5px;
  left: 20px;
  padding: 10px;
  
}

.img-text h4 {
  font-size: 60px;
  margin-bottom: 5px;
  color: var(--first-color);
}
.img-text h3 {
  margin-top: 20px;
  
}


.stars{
  margin-top: 12px;
  margin-left: 10px;

}
 .icon-container {
  display: flex;
  justify-content: space-between;
}

.shop {
  
  border-radius: 50%;
  padding: 12px;
  transition: 1s;
  
  color: black;
  margin-left: 4px;
}
.shop:hover {
  background-color:  var(--third-color);
}
.fly{
  margin-right: 5px;
  color:  rgba(255, 215, 0, 1);;
}
.img-text p {
  font-size: 16px;
  margin-bottom: 5px;
}
.timer {
  z-index: 1;
  font-size: 33px;
  margin-top: 75px;
}

.hours , .minutes ,.seconds {
  font-size: 50px;
  margin-right: 40px;
  background-color: var(--third-color);
}
.minutes , .seconds {
  margin-left: 40px;
}
.timer h4 {
 
  margin-bottom: 30px;
}
.fine {
  z-index: 1;
    font-size: 40px;
 
}
.fine  {
  margin-top: 75px;
}
.fine h2 {
  margin-top: 80px;
  font-size: 30px;
}
.img-text button {
  padding: 10px 20px;
  border: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
  background-color: #ffbf00;
  transition: all 0.3s ease;
  color: #fff;
  margin-top: 10px;
  font-size: 16px;
  
  width: 450px;
  z-index: 1;
 
  transition: all 0.3s ease;
 
}



.footer{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 width: 80%;
 margin: auto;
 display: flex; 
 justify-content: space-between;
}
.media a {
  padding: 4px;
  color: gray;

}


.row-1 h1 {
  font-size: 30px;
  font-family: 'Alkatra', cursive;
  font-family: 'Pacifico', cursive;
}
.row-1 p {
  display: block;
  font-size: 16px;
 margin-top: 20px;
 margin-bottom: 10px;
}
.extra{
  border-bottom: none;
  margin-bottom: 20px;
}
.adress , .account , .payment{
  padding: 20px;

}
.adress p , .adress h1 , .account p , .account h1{
  margin-top: 10px;
}
.payment img {
  margin-top: 20px;
}

@media(max-width: 1050px){
  .header {
    display: none;
  }
  .interface h1 {
    font-size: 50px;
   
  }
  
  .listo {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: red;
    z-index: 2;   

    
    
  }
  .X {
    position: absolute;
    top: 5px;
    z-index: 2;
    right: 20px;
    display: none;
    
  }
  .Z {
    display: block;
  }
  .interface ul {
 display: block;
    margin: 0;
  }
  
  
  .interface ul {
    display: none;
  }
  
  .interface ul li {
    margin-top: 40px;
  }
  

  
  
  
 .right input{
  display: none;

  }
  .sides {
    display: block;
  }
  .sides img {
    width: 100%;
    margin-top: 20px;
  }
  .sides .left-side span {
    font-size: 20px;
    padding: 0;
  }
  .left-side h1 {
    font-size: 20px;
  }
  .left-side h2 {
    font-size: 30px;
  }
 .btn-1 {
    color: red;
    background-color: black;
    left: 20px;
  position: absolute;
    z-index: 1;
   margin-top: 12rem;
  display: flex;
  }
  .Menu {
    display: block;
    cursor: pointer ;
  }
 
  .iconzo {
    display: flex;
  }
  .btn-2 {
    color: red;
    background-color: black;
    left: 70px;
    margin-top: 12rem;
  position: absolute;
    z-index: 1;
  
  display: flex;
  }
  .item-container {
    display: block;
    
  }
  
  .item {
    width: 80%;
    margin: auto;
   margin-top: 20px;
  }
 
  
  .ekko {
    white-space: nowrap;
  }
  .item-grid-container {
    display: block;
    
  }
  .item-3 {
    margin-top: 40px;
    align-items: center;
  }
  .fair {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    max-width: 100%;
   overflow: hidden;
  }
  
  .button {
    margin-right: 10px;
    flex: 0 0 auto;
    white-space: nowrap;
    max-width: 200px;
  }
  .item-grid-container img{
    width: 240px;
    align-items: center;
  }
  .offers {
    display: block;
  }
  .deal , .deal h2 , .deal h3 , .deal p {
font-size: 18px;
  }
  .deal button {
    width: 250px;
    padding: 10px 12px;
  }
  .timer {
    font-size: 20px
  }
  .hours , .minutes ,.seconds {
    
    font-size: 20px;
  }
  .img-text h4, .img-text p , .img-text h3 {
    font-size: 18px;
  }
  .img-text button {
    width: 250px;
   
    
  }
  .fine h2 {
    font-size: 18px;
  }
  .minutes , .seconds {
    margin-left: 10px;
  }
  .hours , .minutes ,.seconds {
    
    margin-right: 20px;
    background-color: var(--third-color);
  }
  .footer {
    display: block;
  }
  .payment h1 {
    font-size: 20px;
  }
  .ohayo  h1  {
    font-size: 15px;
  }
 .ohayo span {
  font-size: 27px
 }
 .show {
  display: block;
}

.hide {
  display: none;
}

}